*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/apks/release/output.json
/app/src/main/cpp/core.cpp
/app/src/main/cpp/util.cpp
/apks/release/OneRead-V1.0.1-release_legu_signed_zipalign.apk
/apks/release/OneRead-V1.0-release_legu.apk
/apks/release/OneRead-V1.0.1-release_legu.apk
/apks/release/OneRead-V1.0-release_legu_signed_zipalign.apk
